# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:

path="../output_data/cities_maryam.csv"
cities_weather=pd.read_csv(path)
cities_weather.dropna(inplace=True)
cities_weather.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,torbay,47.6666,-52.7314,60.58,86,90,11.50,CA,1627346010
1,1,georgetown,5.4112,100.3354,82.89,87,20,4.61,MY,1627345964
2,2,necochea,-38.5473,-58.7368,40.03,71,86,20.56,AR,1627346129
3,3,puerto ayora,-0.7393,-90.3518,71.55,85,25,8.01,EC,1627345915
4,4,inuvik,68.3499,-133.7218,63.36,82,75,3.44,CA,1627346130

In [7]:
cities_weather.shape

(575, 10)

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
gmaps.configure(api_key=g_key)

In [10]:
#Store Lat and long in location
locations=cities_weather[["Lat","Lng"]]
weight=cities_weather["Humidity"]

In [12]:
#plot Heatmap
fig=gmaps.figure()

#creat heat layer
heat_layer=gmaps.heatmap_layer(locations, weights=weight,
                              dissipating=False, max_intensity=10,
                              point_radius=1)
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
Narrower_df = cities_weather.loc[(cities_weather["Wind Speed"] <= 10) & (cities_weather["Cloudiness"]== 0) & \
                  (cities_weather["Max Temp"] >= 70) & (cities_weather["Max Temp"] <= 80)].dropna()
Narrower_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
13,13,altay,47.8667,88.1167,76.14,36,0,0.83,CN,1627346133
22,22,port elizabeth,-33.9180,25.5701,71.10,26,0,8.05,ZA,1627345990
38,38,cabedelo,-6.9811,-34.8339,75.87,83,0,9.48,BR,1627346104
111,111,albany,42.6001,-73.9662,77.04,79,0,5.82,US,1627346029
212,212,erzin,36.9559,36.2000,79.52,80,0,1.07,TR,1627346204
226,226,xiaoweizhai,26.1903,107.5125,79.23,71,0,1.61,CN,1627346208
281,281,jalu,29.0331,21.5482,79.00,49,0,8.01,LY,1627346226
306,306,milas,37.3164,27.7839,76.35,50,0,2.30,TR,1627346236
324,324,baykit,61.6700,96.3700,78.64,45,0,5.28,RU,1627346241
325,325,torrevieja,37.9787,-0.6822,74.80,82,0,1.01,ES,1627346242
346,346,bardiyah,31.7561,25.0865,77.02,69,0,7.81,LY,1627346250
369,369,gat,31.6100,34.7642,78.82,84,0,4.61,IL,1627346223
391,391,kodinsk,58.6881,99.1844,76.69,47,0,4.59,RU,1627346266
393,393,marica,-22.9194,-42.8186,76.91,62,0,9.10,BR,1627346030
413,413,ust-ilimsk,58.0006,102.6619,78.46,37,0,3.98,RU,1627346274
450,450,marsaxlokk,35.8419,14.5431,79.09,88,0,6.91,MT,1627346287
501,501,ayia galini,35.1000,24.6833,76.59,64,0,8.39,GR,1627346308
506,506,navalmoral de la mata,39.8916,-5.5406,71.91,42,0,0.54,ES,1627346310
532,532,nyurba,63.2842,118.3319,79.81,54,0,6.42,RU,1627346319
551,551,jaciara,-15.9653,-54.9683,73.47,41,0,2.13,BR,1627346325

In [17]:
Narrower_df.shape

(20, 10)

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [18]:
hotel_df = Narrower_df.loc[:,["City","Country","Lat","Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df

                      City Country      Lat       Lng Hotel Name
13                   altay      CN  47.8667   88.1167
22          port elizabeth      ZA -33.9180   25.5701
38                cabedelo      BR  -6.9811  -34.8339
111                 albany      US  42.6001  -73.9662
212                  erzin      TR  36.9559   36.2000
226            xiaoweizhai      CN  26.1903  107.5125
281                   jalu      LY  29.0331   21.5482
306                  milas      TR  37.3164   27.7839
324                 baykit      RU  61.6700   96.3700
325             torrevieja      ES  37.9787   -0.6822
346               bardiyah      LY  31.7561   25.0865
369                    gat      IL  31.6100   34.7642
391                kodinsk      RU  58.6881   99.1844
393                 marica      BR -22.9194  -42.8186
413             ust-ilimsk      RU  58.0006  102.6619
450             marsaxlokk      MT  35.8419   14.5431
501            ayia galini      GR  35.1000   24.6833
506  navalmoral de la mata      ES  39.8916   -5.5406
532                 nyurba      RU  63.2842  118.3319
551                jaciara      BR -15.9653  -54.9683

In [21]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
          "type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"
    
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    #Save the hotel name to the dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 13: altay.
Closest hotel in altay is 阿勒泰市金都酒店.
------------
Retrieving Results for Index 22: port elizabeth.
Closest hotel in port elizabeth is Island Way Villa.
------------
Retrieving Results for Index 38: cabedelo.
Closest hotel in cabedelo is Hotel Almagre.
------------
Retrieving Results for Index 111: albany.
Missing field/result... skipping.
------------
Retrieving Results for Index 212: erzin.
Closest hotel in erzin is Hattusa Vacation Thermal Club Erzin.
------------
Retrieving Results for Index 226: xiaoweizhai.
Closest hotel in xiaoweizhai is 都匀浙商大酒店.
------------
Retrieving Results for Index 281: jalu.
Closest hotel in jalu is إستراحة صلاح الصادق.
------------
Retrieving Results for Index 306: milas.
Closest hotel in milas is Milashan Hotel.
------------
Retrieving Results for Index 324: baykit.
Closest hotel in baykit is Sberbank.
------------
Retrieving Results for Index 325: torrevieja.
Closest hotel in torrevieja is Hotel Playas de Torrevieja.
------------
Retrieving Results for Index 346: bardiyah.
Closest hotel in bardiyah is Hotel Burdy.
------------
Retrieving Results for Index 369: gat.
Closest hotel in gat is Desert Gat.
------------
Retrieving Results for Index 391: kodinsk.
Missing field/result... skipping.
------------
Retrieving Results for Index 393: marica.
Closest hotel in marica is Pousada Bela Vista Maricá.
------------
Retrieving Results for Index 413: ust-ilimsk.
Closest hotel in ust-ilimsk is Gostinitsa "Ust'-Ilim".
------------
Retrieving Results for Index 450: marsaxlokk.
Closest hotel in marsaxlokk is Cugó Gran Macina Grand Harbour.
------------
Retrieving Results for Index 501: ayia galini.
Closest hotel in ayia galini is Γλάρος Ξενοδοχείο - Διαμερίσματα.
------------
Retrieving Results for Index 506: navalmoral de la mata.
Closest hotel in navalmoral de la mata is Hotel Moya S A.
------------
Retrieving Results for Index 532: nyurba.
Closest hotel in nyurba is Gostinitsa Alrosa.
------------
Retrieving Results for Index 551: jaciara.
Closest hotel in jaciara is Taba Hotel.
------------

In [22]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [23]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))